body{
    background: #ccd2dbd2;
    font-family: Verdana;
    max-width: 1000px;
    margin: auto;
    border: 1px solid black;
}

.photo {
    border-radius: 50%;
    border: 1px solid #50505050;
}

#title, #subtitle, #post_title{
    color: #1d1c1cfb;
}

#subtitle{
    font-size: 22px;
}

#title{
    font-size: 25px;
    text-transform: uppercase;
}

#post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom 15px;
}

.cabeçalho {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #d7dadfd2;
    border-bottom: grey solid 1px;
}

.subtitulo{
    padding-bottom: 15px;
}

.body .descricao{
    text-align: center;
}

.post {
    background: #ccd2db00;
    padding: 15px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: none;
    text-align: justify;
}

.list {
    list-style-type: none;
    padding-left: 15px;
}

.list li a {
    color: blue;
}
